<div *ngIf="isLoadingResults">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="loading-shade"></div>
</div>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Datos Portal Inmobiliario</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="main-content">
    <form class="example-form">

        <mat-form-field>
            <mat-select placeholder="Tipo Vivienda" [formControl]="tipoViviendaSelected">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                    {{ tipo.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Escribe una comuna" aria-label="Number" matInput [formControl]="comunaSelected" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<div class="action">
    <button mat-flat-button color="primary" (click)="detieneJobs();generaJob(this.tipoViviendaSelected.value.viewValue,this.comunaSelected.value )">Exportar a Excel</button>
</div>